### Identifikace a popis objektů univerza

In [5]:
mysql://root:student@localhost:3308

In [6]:
use 4iz562

### Technický data profiling

In [38]:
-- prednasky/W4_MySQL_profiling.ipynb

In [4]:
-- kontakty bez navázaného klienta
select 
count(*) as NUM_OF_RECORDS,
count(distinct PARTY_ID) as NUM_OF_PARTY_ID,
min(PARTY_ID) as MIN_PARTY_ID,  
max(PARTY_ID) as MAX_PARTY_ID, 
max(PARTY_ID) - min(PARTY_ID) + 1 as ID_RANGE 
from PARTY_CONTACT 
where PARTY_ID not in (select PARTY_ID from PART_PARTY);

,NUM_OF_RECORDS,NUM_OF_PARTY_ID,MIN_PARTY_ID,MAX_PARTY_ID,ID_RANGE
0,37879,37879,383132,421010,37879

In [36]:
-- klienti bez kontaktů => všechny Commercial Parties nemají navázané kontakty
select a.PARTY_TYPE, b.PARTY_TYPE_CNT, count(*) as NUM_OF_RECORDS
from PART_PARTY as a
inner join (select PARTY_TYPE, count(*) as PARTY_TYPE_CNT from PART_PARTY group by 1) as b
on (a.PARTY_TYPE = b.PARTY_TYPE)
where PARTY_ID not in (select PARTY_ID from PARTY_CONTACT)
group by 1;

,PARTY_TYPE,PARTY_TYPE_CNT,NUM_OF_RECORDS
0,C,119348,119348

#### Syntax Patterns

In [11]:
-- rodna cisla nemaji vsechna validni formu, ci nejsou vubec vyplnena - prazndy string, NULL ci text
select
REGEXP_REPLACE(REGEXP_REPLACE(lower(PARTY_RC),'[a-z]','A'), '[0-9]', '9') as PATTERN,  -- matches one or more occurance
count(*) as FREQ
from PART_PARTY
group by 1;

,PATTERN,FREQ
0,9999999999,183810
1,999999999,68378
2,AAAAAAA,2633
3,,6192
4,AAAAAAAAAA,3726
5,AAAA,3669
6,None,114723

In [13]:
 SELECT PARTY_RC, COUNT(*) AS category_count FROM PART_PARTY WHERE PARTY_RC REGEXP '^[A-Za-z]+$' GROUP BY 1;

,PARTY_RC,category_count
0,CIZINEC,2633
1,NEVYPLNENO,3726
2,NENI,3669

In [15]:
 SELECT PARTY_RC, COUNT(*) AS category_count FROM PART_PARTY WHERE PARTY_RC IS NULL OR PARTY_RC = '' GROUP BY 1;

,PARTY_RC,category_count
0,,6192
1,None,114723

In [18]:
-- 
select
PARTY_TYPE,
REGEXP_REPLACE(REGEXP_REPLACE(lower(PARTY_RC),'[a-z]+','A'), '[0-9]+', '9') as PATTERN, -- matches single occurance
count(*) as FREQ
from PART_PARTY
group by 1,2;

,PARTY_TYPE,PATTERN,FREQ
0,P,9,251027
1,P,A,7714
2,P,,5042
3,C,None,114723
4,C,A,2314
5,C,,1150
6,C,9,1161

#### Continuous Variables

In [28]:
-- otazka: jak je mozne ze vek klienta klesne pod 18?
select 
count(*) as FREQ,
count(distinct PARTY_AGE) as DISTINCT_FREQ,
min(PARTY_AGE) as MIN,
max(PARTY_AGE) as MAX,
avg(PARTY_AGE) as AVG,
std(PARTY_AGE) as STD,
variance(PARTY_AGE) as VAR
from PART_PARTY
where PARTY_TYPE = 'P';

,FREQ,DISTINCT_FREQ,MIN,MAX,AVG,STD,VAR
0,263783,84,15,98,45.6612,18.49909,342.216337

In [29]:
-- otazka: jak je mozny maximum data narozeni + veku jakozto rok 2108?
select
min(year(PARTY_DOFBIRTH) + PARTY_AGE) as MIN,
max(year(PARTY_DOFBIRTH) + PARTY_AGE) as MAX
from PART_PARTY
where PARTY_TYPE = 'P';

,MIN,MAX
0,2012,2108

In [7]:
-- nechapu
select
year(PARTY_DOFBIRTH) + PARTY_AGE as DT,
count(*) as FREQ
from PART_PARTY
where PARTY_TYPE = 'P'
group by 1
order by 2 desc limit 0,10;

,DT,FREQ
0,2012.0,232558
1,NaN,5304
2,2044.0,585
3,2045.0,559
4,2040.0,530
5,2041.0,513
6,2048.0,512
7,2042.0,508
8,2046.0,504
9,2043.0,500

In [31]:
-- nechapu - proc se porovnava rok 2044
select
substr(PARTY_RC, 1,6) as RC_YEAR, PARTY_AGE, PARTY_DOFBIRTH, year(PARTY_DOFBIRTH) + PARTY_AGE as DT
from PART_PARTY
where PARTY_TYPE = 'P'
and year(PARTY_DOFBIRTH) + PARTY_AGE = 2044
limit 0,10;

,RC_YEAR,PARTY_AGE,PARTY_DOFBIRTH,DT
0,NENI,34,2010-07-23,2044
1,785105,34,2010-05-20,2044
2,780105,34,2010-10-13,2044
3,785106,34,2010-10-19,2044
4,780107,34,2010-01-27,2044
5,780109,34,2010-08-26,2044
6,780109,34,2010-06-08,2044
7,780110,34,2010-02-07,2044
8,785116,34,2010-08-15,2044
9,780116,34,2010-02-11,2044

In [32]:
-- nesrovnalost v aktulnim veku v relaci k datu narozeni
select (PARTY_AGE - TIMESTAMPDIFF(YEAR, PARTY_DOFBIRTH, CURDATE())), count(*) from PART_PARTY where PARTY_TYPE = 'P' group by 1 order by 1 limit 0,10;

,"(PARTY_AGE - TIMESTAMPDIFF(YEAR, PARTY_DOFBIRTH, CURDATE()))",count(*)
0,NaN,5304
1,-11.0,96905
2,-10.0,135653
3,2.0,128
4,3.0,318
5,4.0,352
6,5.0,419
7,6.0,378
8,7.0,410
9,8.0,401

### Validace vybraných atributů

In [37]:
-- prednasky/03 - MySQL Validation Preparation.ipynb

#### EXTEND DATA MODEL

In [6]:
alter table PART_PARTY
add DQM_VALID_SCORE decimal(3,2) default 0 COMMENT 'data quality valid score',
add DQM_VALID_CODE char(18) default '000000000000000000' COMMENT 'data quality valid code',
add DQM_ERR longtext COMMENT 'data quality valid error'
;

In [7]:
alter table PARTY_ADDRESS
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(9) default '000000000',
add DQM_ERR longtext
;

In [8]:
alter table PARTY_CONTACT
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(5) default '00000',
add DQM_ERR longtext
;

In [9]:
alter table PROD_CONTRACT
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(7) default '0000000',
add DQM_ERR longtext
;

In [ ]:
-- k cemu je tahle tabulka? prijde mi, ze do ni nic neukladame v notebooku

In [10]:
drop table if exists DQM_ISSUES; -- tabulka pro rozeznávání issues

In [11]:
CREATE TABLE `DQM_ISSUES` (
  `ISSUE_ID` bigint NOT NULL AUTO_INCREMENT,
  `ISSUE_TSTMP` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `TABLE_NAME` varchar(100) COLLATE utf8_czech_ci NOT NULL,
  `ATTRIBUTE_NAME` varchar(100) COLLATE utf8_czech_ci NOT NULL,
  `ROW_ID` bigint NOT NULL,
  `ISSUE_CODE` smallint NOT NULL,
  `ISSUE_TEXT` longtext COLLATE utf8_czech_ci,
  PRIMARY KEY (`ISSUE_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_czech_ci;

#### VALIDATE REF_CALENDAR

In [19]:
 -- jiz soucasti datoveho skladu
select min(CAL_DATE), max(CAL_DATE) from REF_CALENDAR;

,min(CAL_DATE),max(CAL_DATE)
0,1990-01-01,2014-12-31

#### CREATE RES TABLE

In [20]:
drop table if exists REF_RES;  -- tabulka registru ekonomickýc subjektů

In [21]:
CREATE TABLE `REF_RES` (
  `ICO` char(8) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `OKRESLAU` char(6) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `DDATVZN` date DEFAULT NULL,
  `DDATZAN` date DEFAULT NULL,
  `ZPZAN` int DEFAULT NULL,
  `DDATPAKT` date DEFAULT NULL,
  `FORMA` int DEFAULT NULL,
  `ROSFORMA` int DEFAULT NULL,
  `KATPO` int DEFAULT NULL,
  `NACE` varchar(10) DEFAULT NULL,
  `ICZUJ` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `FIRMA` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `CCISS2010` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `KODADM` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `PSC` char(5) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `OBEC_TEXT` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `COBCE_TEXT` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `ULICE_TEXT` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `TYPCDOM` smallint DEFAULT NULL,
  `CDOM` varchar(10) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `COR` varchar(10) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `DATPLAT` date DEFAULT NULL,
  `PRIZNAK` char(1) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `CISS2010` varchar(50) DEFAULT NULL,
  `TEXTADR` varchar(256) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

In [39]:
SET GLOBAL local_infile = 1; -- to enable the ability to load data from a local file

In [40]:
SHOW GLOBAL VARIABLES like '%%local_infile%%';

,Variable_name,Value
0,local_infile,ON

In [43]:
load data local infile 'ROS.csv' into table REF_RES; 
-- skipped done manually in db by
-- load data local infile '/home/student/Jupyter/environment/notebooks/W05/ROS.csv' ignore into table REF_RES columns terminated by ',' enclosed by '"' ignore 1 lines;

In [45]:
CREATE INDEX REF_RES_ICO_IDX USING BTREE ON `4iz562`.REF_RES (ICO);

In [44]:
-- checks if ADDR_NUM  is a digit --> all NULL
select 
case when trim(ADDR_NUM1) 
regexp '^[0-9]+$' = 1 
then 'T' else 'F' end as flag, count(*) as freq 
from PARTY_ADDRESS group by 1;

,flag,freq
0,F,955217

In [46]:
-- checks if ADDR_STREET onsist of only alphanumeric characters (uppercase letters, lowercase letters, and numeric digits) and have a length of at least one character
select 
case when trim(ADDR_STREET) 
regexp '^[0-9a-zA-Z]+$' = 1 
then 'T' else 'F' end as flag, count(*) as freq 
from PARTY_ADDRESS group by 1;

,flag,freq
0,F,465796
1,T,489421

In [39]:
-- prednasky/04 - MySQL Validation PART_PARTY.ipynb

##### PART_PARTY

###### PARTY_RC

In [47]:
select concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)) from PART_PARTY limit 0,1;

,"concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10))"
0,000000010000000000

Reset validation attributes

In [48]:
update PART_PARTY
set 
DQM_VALID_SCORE = 0,
DQM_VALID_CODE = '000000000000000000',
DQM_ERR = ''
where 1 = 1;

Rule 1: Non-existing date in RC with a length of 9

In [49]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-1-SMACC ') 
where
cast(
    concat(
        '19',substr(PARTY_RC,1,2),'-',
        case when substr(PARTY_RC,3,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) > 50
        then cast(cast(substr(PARTY_RC,3,2) as signed) - 50 as char(2))
        else substr(PARTY_RC,3,2)
        end,
        '-',
        substr(PARTY_RC,5,2)
    )
    as char(10))
    not in (select cast(CAL_DATE as char(10)) from REF_CALENDAR)
    and PARTY_TYPE = 'P'
    and length(trim(PARTY_RC)) = 9
    ;

Rule 2: Non-existing date in RC with a length of 10

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-2-SMACC ') 
where
cast(
    concat(
        case when substr(PARTY_RC,1,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) < 54
        then '20'
        else '19'
        end,
        substr(PARTY_RC,1,2),'-',
        case when substr(PARTY_RC,3,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) > 50
        then cast(cast(substr(PARTY_RC,3,2) as signed) - 50 as char(2))
        else substr(PARTY_RC,3,2)
        end,
        '-',
        substr(PARTY_RC,5,2)
    )
    as char(10))
    not in (select cast(CAL_DATE as char(10)) from REF_CALENDAR)
    and PARTY_TYPE = 'P'
    and length(trim(PARTY_RC)) = 10
    ;

Rule 3: Inconsistent date from RC and DOFBIRTH

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-3-INCNS ') 
where
party_type = 'P'
and PARTY_RC REGEXP '[0-9]+'
and not
cast(
    concat(
        case when length(trim(PARTY_RC)) = 10 and trim(substr(PARTY_RC,1,2)) * 1 < 54
        then concat('20',trim(substr(PARTY_RC,1,2)))
        else concat('19',trim(substr(PARTY_RC,1,2)))
        end,
        trim(substr(PARTY_RC,3,2)),
        trim(substr(PARTY_RC,5,2))
    ) as char(10)
) = cast(PARTY_DOFBIRTH as char(10))
;

Rule 4: Missing RC

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-4-CMPLTN ') 
where
PARTY_TYPE = 'P'
and (PARTY_RC is null or PARTY_RC = '' or PARTY_RC = ' ')
;

Rule 5: Not-numeric RC

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-5-SMACC RC-5-SNACC ') 
where
PARTY_TYPE = 'P'
and not PARTY_RC REGEXP '[0-9]+'
;

Rule 6: Gender from RC not consistent with PARTY_GENDER

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-6-INCNS ') 
where
PARTY_TYPE = 'P' and PARTY_RC REGEXP '[0-9]+'
and
(
(substr(PARTY_RC,3,2) - 1 > 50 and PARTY_GENDER not in ('F'))
 or
(substr(PARTY_RC,3,2) - 1 < 50 and PARTY_GENDER not in ('M'))
)
;

Rule 7: Age from RC not consistent with PARTY_AGE

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-7-INCNS ') 
where
PARTY_TYPE = 'P'
and
(PARTY_AGE - TIMESTAMPDIFF(YEAR, PARTY_DOFBIRTH, CURDATE())) <> 0
;

Rule 23: Modulo check failed

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-23-SMACC ') 
where
PARTY_TYPE = 'P' and PARTY_RC REGEXP '[0-9]+' and length(trim(PARTY_RC)) = 10
and not
case when
mod(
cast(
concat(
    substr(trim(PARTY_RC),1,2),
    case when cast(substr(PARTY_RC,3,2) as signed) < 54
        then substr(PARTY_RC,3,2)
     when cast(substr(PARTY_RC,3,2) as signed) - 50 < 10
    	then concat('0',cast(substr(PARTY_RC,3,2) as signed) - 50)
    else cast(substr(PARTY_RC,3,2) as signed) - 50
        end,
    substr(trim(PARTY_RC),5,5)    
) as signed)
,11) = 10 then 0
else 
mod(
cast(
concat(
    substr(trim(PARTY_RC),1,2),
    case when cast(substr(PARTY_RC,3,2) as signed) < 54
        then substr(PARTY_RC,3,2)
     when cast(substr(PARTY_RC,3,2) as signed) - 50 < 10
    	then concat('0',cast(substr(PARTY_RC,3,2) as signed) - 50)
    else cast(substr(PARTY_RC,3,2) as signed) - 50
        end,
    substr(trim(PARTY_RC),5,5)    
) as signed)
,11)
end = substr(trim(PARTY_RC),10,1)
;

In [ ]:
select PARTY_RC from PART_PARTY where DQM_ERR like '%%RC-23-SMACC%%' limit 0,10;

##### PARTY_CREGNUM

Rule 8: ICO Checksum failed

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1',substr(DQM_VALID_CODE,8,11)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CREGNUM-8-SMACC ') 
where
PARTY_TYPE = 'C' and
(
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11) = 0 and substr(PARTY_CREGNUM,8,1) <> 1
)
or
(
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11) = 1 and substr(PARTY_CREGNUM,8,1) <> 0
)
or
(
MOD(11 -
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11),10) <> substr(PARTY_CREGNUM,8,1)
);
select PARTY_CREGNUM from PART_PARTY where DQM_ERR like '%%CREGNUM-8-SMACC%%' limit 0,10;

Rule 9: ICO Lookup failed

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1',substr(DQM_VALID_CODE,8,11)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CREGNUM-9-SMACC ') 
where
PARTY_TYPE = 'C' and
trim(PARTY_CREGNUM) not in (select trim(PARTY_CREGNUM)from REF_PARTY_CREGNUM);
select PARTY_CREGNUM from PART_PARTY where DQM_ERR like '%%CREGNUM-9-SMACC%%' limit 0,10;

##### PARTY_FNAME

Rule 10: PARTY_FNAME lookup failed

In [ ]:
alter table REF_FNAME add MCODE char(32);
update REF_FNAME set MCODE = md5(upper(trim(VALUE)));
alter table REF_FNAME add index(MCODE);

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,15)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'FNAME-10-SMACC ') 
where
PARTY_TYPE = 'P' and
md5(trim(upper(PARTY_FNAME))) not in (select MCODE from REF_FNAME);
select PARTY_FNAME from PART_PARTY where DQM_ERR like '%%FNAME-10-SMACC%%' limit 0,10;

##### PARTY_LNAME

Rule 11: PARTY_LNAME lookup failed

In [ ]:
alter table REF_LNAME add MCODE char(32);
update REF_LNAME set MCODE = md5(upper(trim(VALUE)));
alter table REF_LNAME add index(MCODE);

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,15)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'LNAME-11-SMACC ') 
where
PARTY_TYPE = 'P' and
md5(trim(upper(PARTY_LNAME))) not in (select MCODE from REF_LNAME);
select PARTY_LNAME from PART_PARTY where DQM_ERR like '%%LNAME-11-SMACC%%' limit 0,10;

##### PARTY_SINCE

Rule 12: PARTY_SINCE inconsistent to contract

In [ ]:
update PART_PARTY as a
inner join (select PARTY_ID, min(cntr_validfrom) as min_valid_from from PROD_CONTRACT group by 1) as b
on (a.PARTY_ID = b.PARTY_ID)
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,17),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'SINCE-12-EXCNS ')
where not a.PARTY_SINCE = b.min_valid_from
;

##### PARTY_ADDRESS

In [40]:
-- v prednaskach jsme to probrali jen do 12!

###### ADDR_ZIP

Rule 13: Incorrect PSC

In [ ]:
update PARTY_ADDRESS
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'ZIP-13-SNACC ') 
where not ADDR_ZIP regexp '^[0-9]{5}$' = 1
;
select ADDR_ZIP from PARTY_ADDRESS where DQM_ERR like '%%ZIP-13-SNACC%%' limit 0,10;

##### PARTY_CONTACT

Rule 14: Incorrect Email syntax

In [ ]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-14-SNACC ') 
where CONT_TYPE = 'E' and not trim(CONT_VALUE) regexp '^[a-zA-Z0-9]{1}([\\.\\-]?[a-zA-Z0-9])*@[a-zA-Z0-9]{1}([\\.\\-]?[a-zA-Z0-9])*\\.[a-zA-Z]{2,6}$' = 1
;
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-14-SNACC%%';

In [ ]:
select * from PARTY_CONTACT where DQM_ERR like '%%VALUE-14-SNACC%%' limit 0,10;

Rule 15: Missing Email

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'EMAIL-15-CMPLT ') 
where 
PARTY_ID not in (select PARTY_ID from PARTY_CONTACT where CONT_TYPE = 'E')
;

In [ ]:
select count(*) from PART_PARTY where DQM_ERR like '%%EMAIL-15-CMPLT%%';


Rule 16: Missing Mobile

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'MOBILE-16-CMPLT ') 
where 
PARTY_ID not in (select PARTY_ID from PARTY_CONTACT where CONT_TYPE = 'M')
;
select count(*) from PART_PARTY where DQM_ERR like '%%MOBILE-16-CMPLT%%';

Rule 17: Incorrect Mobile Prefix

In [ ]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-17-SMACC ') 
where CONT_TYPE = 'M'
and substr(CONT_VALUE,1,3) * 1 not between 601 and 608
and substr(CONT_VALUE,1,3) * 1 not in (702,703,705)
and substr(CONT_VALUE,1,3) * 1 not between 720 and 739
and substr(CONT_VALUE,1,3) * 1 not between 770 and 779
and substr(CONT_VALUE,1,3) * 1 not between 790 and 792
and substr(CONT_VALUE,1,3) * 1 not in (797,799)
;
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-17-SMACC%%';

Rule 18: Incorrect Mobile Length

In [ ]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-18-SMACC VALUE-18-SNACC ') 
where CONT_TYPE = 'M'
and length(replace(CONT_VALUE,' ','')) <> 9
;
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-18-SMACC%%';

##### PROD_CONTRACT

Rule 19: Invalid product code

In [ ]:
update PROD_CONTRACT as a
inner join (select PRODUCT_CODE, min(VALID_FROM) as min_valid_from, max(VALID_TO) as max_valid_to from PRODUCT_CATALOGUE group by 1) as b
on (a.PRODUCT_CODE = b.PRODUCT_CODE)
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,3)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CODE-19-SMACC ') 
where 
not a.CNTR_VALIDFROM between b.min_valid_from and b.max_valid_to
;
select count(*) from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

Rule 20: Valid From after Valid To

In [ ]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,3),'11',substr(DQM_VALID_CODE,6,2)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALIDFROM-20-INCNS VALIDTO-20-INCNS ') 
where CNTR_VALIDFROM > CNTR_VALIDTO
;
select * from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

In [ ]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

Rule 21: Terminated contract with no canceltype

In [ ]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,5),'1',substr(DQM_VALID_CODE,7,1)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CANCTYPE-21-CMPLT ') 
where
CNTR_CANCTYPE is null and CNTR_VALIDTO <= current_date;
;

In [ ]:
select CNTR_VALIDFROM, CNTR_VALIDTO, CNTR_CANCTYPE from PROD_CONTRACT where DQM_ERR like '%%CANCTYPE-21-CMPLT%%' limit 0,10;

In [ ]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%CANCTYPE-21-CMPLT%%' limit 0,10;

Rule 22: Incorrect frequency of payment

In [ ]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'PAY_FREQ-22-SNACC ') 
where
CNTR_PAY_FREQ not in (select CODE from LOV_PMT_FREQ);
;

In [ ]:
select * from PROD_CONTRACT where DQM_ERR like '%%PAY_FREQ-22-SNACC%%' limit 0,10;

In [ ]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%PAY_FREQ-22-SNACC%%' limit 0,10;

In [41]:
-- po tohle nahoru viz 12. bych to smazala

#### Report

##### PART_PARTY

In [42]:
-- tohle jsem nenasla odkud vzali - smazat?

In [ ]:
select count(*) into @rowCnt from PART_PARTY;

In [ ]:
select 1 - (count(*) / @rowCnt) as 'Semantic Accuracy' from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SMACC%%';

In [ ]:
update DQM_MDR
set
CHAR_SEM_ACC = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SMACC%%'),
CHAR_SYN_ACC = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SNACC%%'),
CHAR_COM = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-CMPLT%%'),
CHAR_INT_CON = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-INCNS%%'),
CHAR_EXT_CON = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-EXCNS%%')
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_RC';

In [ ]:
select @rowCnt

In [ ]:
CALL updateCharacteristics('PART_PARTY','PARTY_ID','ID',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_TYPE','TYPE',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_FNAME','FNAME',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_LNAME','LNAME',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_NAME','NAME',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_FORM','FORM',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_CREGNUM','CREGNUM',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_RC','RC',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_COUNTRY','COUNTRY',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_POFBIRTH','POFBIRTH',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_AGE','AGE',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_TITBEF','TITBEF',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_TITAFT','TITAFT',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_ESA95','ESA95',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_OKEC','OKEC',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_SINCE','SINCE',@rowCnt);
CALL updateCharacteristics('PART_PARTY','PARTY_POFBIRTH','POFBIRTH',@rowCnt);

##### PARTY_ADDRESS

In [ ]:
select count(*) into @rowCnt from PARTY_ADDRESS;
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_ID','ID',@rowCnt);
CALL updateCharacteristics('PARTY_ADDRESS','PARTY_ID','ID',@rowCnt);
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_TYPE','TYPE',@rowCnt);
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_COUNTRY','COUNTRY',@rowCnt);
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_CITY','CITY',@rowCnt);
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_STREET','STREET',@rowCnt);
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_NUM1','NUM1',@rowCnt);
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_NUM2','NUM2',@rowCnt);
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_ZIP','ZIP',@rowCnt);

##### PARTY_CONTACT

In [5]:
SELECT COUNT(*) INTO @rowCnt FROM PARTY_CONTACT;
CALL updateCharacteristics('PARTY_CONTACT','CONT_ID','ID',@rowCnt);
CALL updateCharacteristics('PARTY_CONTACT','PARTY_ID','ID',@rowCnt);
CALL updateCharacteristics('PARTY_CONTACT','CONT_TYPE','TYPE',@rowCnt);
CALL updateCharacteristics('PARTY_CONTACT','CONT_PRIMARY_FLG','PRIMARY_FLG',@rowCnt);
CALL updateCharacteristics('PARTY_CONTACT','CONT_VALUE','VALUE',@rowCnt);

###### PROD_CONTRACT

In [ ]:
select count(*) into @rowCnt from PROD_CONTRACT;
CALL updateCharacteristics('PROD_CONTRACT','CNTR_ID','ID',@rowCnt);
CALL updateCharacteristics('PROD_CONTRACT','PARTY_ID','ID',@rowCnt);
CALL updateCharacteristics('PROD_CONTRACT','PRODUCT_CODE','CODE',@rowCnt);
CALL updateCharacteristics('PROD_CONTRACT','CNTR_VALIDFROM','VALIDFROM',@rowCnt);
CALL updateCharacteristics('PROD_CONTRACT','CNTR_VALIDTO','VALIDTO',@rowCnt);
CALL updateCharacteristics('PROD_CONTRACT','CNTR_CANCTYPE','CANCTYPE',@rowCnt);
CALL updateCharacteristics('PROD_CONTRACT','CNTR_PAY_FREQ','PAY_FREQ',@rowCnt);

###### Exceptions

In [ ]:
update DQM_MDR set CHAR_COM = (
    select 1 - (count(*) / (select count(*) from PART_PARTY)) from PART_PARTY 
    where DQM_ERR like '%%EMAIL-15-CMPLT%%' or 
    DQM_ERR like '%%MOBILE-16-CMPLT%%'
    )
 where TABLE_NAME = "PARTY_CONTACT" and COLUMN_NAME = "CONT_VALUE";

In [ ]:
select * from DQM_MDR where not COLUMN_NAME like '%%DQM_%%';

In [43]:
-- prednasky/09 - MySQL Validation Table Level.ipynb

##### Duplicitní klienti

In [ ]:
select count(*) from (
select
concat(PARTY_TYPE,'_',coalesce(trim(PARTY_RC),trim(PARTY_CREGNUM))) as CUST_ID, count(*) as FREQ
from PART_PARTY
group by 1 having count(*) >1) as a;

##### Matching adress

In [ ]:
ALTER TABLE `4iz562`.REF_UIRADR_MERGED ADD MCODE_CRISP char(32) NOT NULL;
update REF_UIRADR_MERGED set MCODE_CRISP = md5(
concat(
coalesce(psc,''),'_',
coalesce(trim(ulice),''),
coalesce(cisdom_hod,''),
case when cisor_hod is not null and not trim(cisor_hod) = '' then concat('/',coalesce(cisor_hod,'')) else '' end,
case when cisor_pis is not null and not trim(cisor_pis) = '' then concat('',coalesce(cisor_pis,'')) else '' end,
'_',
coalesce(trim(obec),''),
case 
when mcast is not null then
	case when not trim(obec) = '' then concat(' - ',trim(mcast)) else trim(mcast) end
when cobce is not null then
	case when not trim(obec) = '' then concat(' - ',trim(cobce)) else trim(cobce) end
else ''
end
)) where 1 = 1;
CREATE INDEX REF_UIRADR_MERGED_MCODE_CRISP_IDX USING BTREE ON `4iz562`.REF_UIRADR_MERGED (MCODE_CRISP);

In [ ]:
select * from PARTY_ADDRESS where md5(concat(ADDR_ZIP,'_',ADDR_STREET,'_',ADDR_CITY)) not in (select MCODE_CRISP from REF_UIRADR_MERGED) limit 0,10;

In [ ]:
select count(*) from PARTY_ADDRESS where md5(concat(ADDR_ZIP,'_',ADDR_STREET,'_',ADDR_CITY)) not in (select MCODE_CRISP from REF_UIRADR_MERGED);

In [44]:
-- prednasky/01 - Audit_Preparation_MySQL.ipynb

### Úroveň kvantitativních vlastností dat

In [ ]:
mysql://student:student@localhost:3306

use 4iz562;

In [ ]:
alter table DQM_MDR
add U01 smallint default 0,
add U02 smallint default 0,
add U03 smallint default 0,
add U04 smallint default 0,
add U05 smallint default 0,
add U06 smallint default 0,
add U07 smallint default 0,
add U08 smallint default 0,
add U09 smallint default 0,
add U10 smallint default 0
;

In [ ]:

select * from DQM_MDR where COLUMN_NAME not like '%%DQM_%%';

In [ ]:
CREATE PROCEDURE `4iz562`.`updateDescription`(
    IN tablePar varchar(32),
    IN attributePar varchar(32),
    IN descriptionText varchar(256)
)
BEGIN
    SET @s = concat(
   		"update DQM_MDR set COLUMN_COMMENT=",
   		quote(descriptionText),
   		" where TABLE_NAME = ",
   	    quote(tablePar),
   	    " and COLUMN_NAME =",
   	    quote(attributePar));
   	   
   	prepare stmt from @s;
   	execute stmt;
    commit;
    deallocate prepare stmt;
END;

In [ ]:
CALL updateDescription('PARTY_ADDRESS','ADDR_ID','Primární klíč adresy');

In [ ]:
CALL updateDescription('PARTY_ADDRESS','PARTY_ID','Odkaz na PK tabulky PART_PARTY');

In [ ]:
CALL updateDescription('PARTY_ADDRESS','ADDR_TYPE','Typ adresy');

In [ ]:
CALL updateDescription('PARTY_ADDRESS','ADDR_COUNTRY','Kód země');

In [ ]:
CALL updateDescription('PARTY_ADDRESS','ADDR_CITY','Město');

In [ ]:
CALL updateDescription('PARTY_ADDRESS','ADDR_STREET','Ulice');

In [ ]:
CALL updateDescription('PARTY_ADDRESS','ADDR_NUM1','Číslo popisné');

In [ ]:
CALL updateDescription('PARTY_ADDRESS','ADDR_NUM2','Číslo orientační a písmeno adresy');

In [ ]:
CALL updateDescription('PARTY_ADDRESS','ADDR_ZIP','PSČ');

In [ ]:
CALL updateDescription('PARTY_CONTACT','CONT_ID','Primární klíč kontaktu');

In [ ]:
CALL updateDescription('PARTY_CONTACT','PARTY_ID','Odkaz na PK tabulky PART_PARTY');

In [ ]:
CALL updateDescription('PARTY_CONTACT','CONT_TYPE','Typ kontaktu');

In [ ]:
CALL updateDescription('PARTY_CONTACT','CONT_PRIMARY_FLG','Příznak primárního kontaktu');

In [ ]:
CALL updateDescription('PARTY_CONTACT','CONT_VALUE','Konkrétní hodnota kontaktu');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_ID','Primární klíč tabulky klientů');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_TYPE','Typ klienta');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_FNAME','Křestní jméno klienta');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_LNAME','Příjmení klienta');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_NAME','Název společnosti');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_FORM','Právní forma společnosti');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_CREGNUM','Komerční registrační číslo (IČO)');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_COUNTRY','Kód země původu');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_POFBIRTH','Místo narození');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_AGE','Věk klienta');

In [ ]:

CALL updateDescription('PART_PARTY','PARTY_GENDER','Pohlaví klienta');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_DOFBIRTH','Datum narození klienta');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_TITBEF','Titul před jménem');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_TITAFT','Titul za jménem');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_ESA95','Kód institucionálního sektoru');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_OKEC','OKEČ kód');

In [ ]:
CALL updateDescription('PART_PARTY','PARTY_SINCE','Datum počátku statutu klient');

In [ ]:
CALL updateDescription('PROD_CONTRACT','CNTR_ID','Primární klíč kontraktů');

In [ ]:
CALL updateDescription('PROD_CONTRACT','PARTY_ID','Odkaz na PK tabulky PART_PARTY');

In [ ]:
CALL updateDescription('PROD_CONTRACT','PRODUCT_CODE','Identifikátor produktu');

In [ ]:
CALL updateDescription('PROD_CONTRACT','CNTR_VALIDFROM','Datum počátku kontraktu');

In [ ]:
CALL updateDescription('PROD_CONTRACT','CNTR_VALIDTO','Datum konce kontraktu');

In [ ]:
CALL updateDescription('PROD_CONTRACT','CNTR_CANCTYPE','Typ ukončení kontraktu');

In [ ]:
CALL updateDescription('PROD_CONTRACT','CNTR_PAY_FREQ','Frekvence placení pojistného');

Update the Data Usage



* UC01 = Predikce odchodu
* UC02 = X-sell
* UC03 = Up-sell
* UC04 = Dožití
* UC05 =
* UC06 =
* UC07 =
* UC08 =
* UC09 =
* UC10 =

In [ ]:
CREATE PROCEDURE `4iz562`.`updateDataUsage`(
    IN tablePar varchar(32),
    IN attributePar varchar(32),
    IN usagePar char(3)
)
BEGIN
    SET @s = concat(
   		"update DQM_MDR set ",
   		usagePar,
   		"= 1 where TABLE_NAME = ",
   	    quote(tablePar),
   	    " and COLUMN_NAME =",
   	    quote(attributePar));
   	   
   	prepare stmt from @s;
   	execute stmt;
   	commit;
    deallocate prepare stmt;
END;

##### PART_PARTY

###### PARTY_ID

In [ ]:
CALL updateDataUsage('PART_PARTY','PARTY_ID','U01');

CALL updateDataUsage('PART_PARTY','PARTY_ID','U02');

CALL updateDataUsage('PART_PARTY','PARTY_ID','U03');

CALL updateDataUsage('PART_PARTY','PARTY_ID','U04');

PARTY_TYPE

In [ ]:
CALL updateDataUsage('PART_PARTY','PARTY_TYPE','U02');

CALL updateDataUsage('PART_PARTY','PARTY_TYPE','U03');

CALL updateDataUsage('PART_PARTY','PARTY_TYPE','U04');

PARTY_FNAME

In [ ]:
CALL updateDataUsage('PART_PARTY','PARTY_FNAME','U02');

CALL updateDataUsage('PART_PARTY','PARTY_FNAME','U03');

CALL updateDataUsage('PART_PARTY','PARTY_FNAME','U04');


PARTY_LNAME

In [ ]:
CALL updateDataUsage('PART_PARTY','PARTY_LNAME','U02');

CALL updateDataUsage('PART_PARTY','PARTY_LNAME','U03');

CALL updateDataUsage('PART_PARTY','PARTY_LNAME','U04');

PARTY_NAME

In [ ]:
CALL updateDataUsage('PART_PARTY','PARTY_NAME','U02');

CALL updateDataUsage('PART_PARTY','PARTY_NAME','U03');

CALL updateDataUsage('PART_PARTY','PARTY_NAME','U04');

PARTY_AGE

In [ ]:

CALL updateDataUsage('PART_PARTY','PARTY_AGE','U01');

CALL updateDataUsage('PART_PARTY','PARTY_AGE','U02');

CALL updateDataUsage('PART_PARTY','PARTY_AGE','U03');

CALL updateDataUsage('PART_PARTY','PARTY_AGE','U04');

PARTY_GENDER

In [ ]:
CALL updateDataUsage('PART_PARTY','PARTY_GENDER','U01');

CALL updateDataUsage('PART_PARTY','PARTY_GENDER','U02');

CALL updateDataUsage('PART_PARTY','PARTY_GENDER','U04');

PARTY_TITBEF

In [ ]:
CALL updateDataUsage('PART_PARTY','PARTY_TITBEF','U01');

CALL updateDataUsage('PART_PARTY','PARTY_TITBEF','U02');

CALL updateDataUsage('PART_PARTY','PARTY_TITBEF','U04');

PARTY_TITAFT

In [ ]:
CALL updateDataUsage('PART_PARTY','PARTY_TITAFT','U01');

CALL updateDataUsage('PART_PARTY','PARTY_TITAFT','U02');

CALL updateDataUsage('PART_PARTY','PARTY_TITAFT','U04');

PARTY_SINCE

In [ ]:
CALL updateDataUsage('PART_PARTY','PARTY_SINCE','U01');

PARTY_ADDRESS
ADDR_TYPE

In [ ]:

CALL updateDataUsage('PARTY_ADDRESS','ADDR_TYPE','U02');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_TYPE','U03');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_TYPE','U04');

ADDR_COUNTRY

In [ ]:
CALL updateDataUsage('PARTY_ADDRESS','ADDR_COUNTRY','U02');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_COUNTRY','U03');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_COUNTRY','U04');

ADDR_CITY

In [ ]:

CALL updateDataUsage('PARTY_ADDRESS','ADDR_CITY','U01');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_CITY','U02');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_CITY','U03');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_CITY','U04');

ADDR_STREET

In [ ]:
CALL updateDataUsage('PARTY_ADDRESS','ADDR_STREET','U02');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_STREET','U03');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_STREET','U04');

ADDR_NUM1

In [ ]:
CALL updateDataUsage('PARTY_ADDRESS','ADDR_NUM1','U02');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_NUM1','U03');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_NUM1','U04');

ADDR_NUM2

In [ ]:
CALL updateDataUsage('PARTY_ADDRESS','ADDR_NUM2','U02');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_NUM2','U03');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_NUM2','U04');

ADDR_ZIP

In [ ]:
CALL updateDataUsage('PARTY_ADDRESS','ADDR_ZIP','U01');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_ZIP','U02');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_ZIP','U03');

CALL updateDataUsage('PARTY_ADDRESS','ADDR_ZIP','U04');

PARTY_CONTACT
CONT_TYPE

In [ ]:
CALL updateDataUsage('PARTY_CONTACT','CONT_TYPE','U02');

CALL updateDataUsage('PARTY_CONTACT','CONT_TYPE','U03');

CALL updateDataUsage('PARTY_CONTACT','CONT_TYPE','U04');

CONT_VALUE

In [ ]:
CALL updateDataUsage('PARTY_CONTACT','CONT_VALUE','U02');

CALL updateDataUsage('PARTY_CONTACT','CONT_VALUE','U03');

CALL updateDataUsage('PARTY_CONTACT','CONT_VALUE','U04');

PROD_CONTRACT

PRODUCT_CODE

In [ ]:
CALL updateDataUsage('PROD_CONTRACT','PRODUCT_CODE','U01');

CALL updateDataUsage('PROD_CONTRACT','PRODUCT_CODE','U02');

CALL updateDataUsage('PROD_CONTRACT','PRODUCT_CODE','U03');

CALL updateDataUsage('PROD_CONTRACT','PRODUCT_CODE','U04');

CNTR_VALIDFROM

In [ ]:
CALL updateDataUsage('PROD_CONTRACT','CNTR_VALIDFROM','U02');

CALL updateDataUsage('PROD_CONTRACT','CNTR_VALIDFROM','U03');

CALL updateDataUsage('PROD_CONTRACT','CNTR_VALIDFROM','U04');

CNTR_VALIDTO

In [ ]:
CALL updateDataUsage('PROD_CONTRACT','CNTR_VALIDTO','U02');

CALL updateDataUsage('PROD_CONTRACT','CNTR_VALIDTO','U03');

CALL updateDataUsage('PROD_CONTRACT','CNTR_VALIDTO','U04');

CNTR_CANCTYPE

In [ ]:
CALL updateDataUsage('PROD_CONTRACT','CNTR_CANCTYPE','U01');

CALL updateDataUsage('PROD_CONTRACT','CNTR_CANCTYPE','U02');

CALL updateDataUsage('PROD_CONTRACT','CNTR_CANCTYPE','U03');

CNTR_PAY_FREQ

In [ ]:
CALL updateDataUsage('PROD_CONTRACT','CNTR_PAY_FREQ','U01');

Examples:

RC-1-CMPLT
Characteristics:

CMPLT = Completeness

SMACC = Semantic Accurracy

SNACC = Syntactic Accuracy

UNQNS = Uniqueness

INCNS = Internal Consistency

EXCNS = External Consistency

In [46]:
-- prednasky/04 - MySQL Validation PART_PARTY.ipynb
-- neni tohle v tomhle notebooku duplicitne? smazat?

### Root-cause analýza dat

In [9]:
select concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)) from PART_PARTY limit 0,1;

Re-set validation attributes

In [11]:
update PART_PARTY
set 
DQM_VALID_SCORE = 0,
DQM_VALID_CODE = '000000000000000000',
DQM_ERR = ''
where 1 = 1;

Rule 1: Non-existing date in RC with a length of 9

In [12]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-1-SMACC ') 
where
cast(
    concat(
        '19',substr(PARTY_RC,1,2),'-',
        case when substr(PARTY_RC,3,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) > 50
        then cast(cast(substr(PARTY_RC,3,2) as signed) - 50 as char(2))
        else substr(PARTY_RC,3,2)
        end,
        '-',
        substr(PARTY_RC,5,2)
    )
    as char(10))
    not in (select cast(CAL_DATE as char(10)) from REF_CALENDAR)
    and PARTY_TYPE = 'P'
    and length(trim(PARTY_RC)) = 9
    ;

Rule 2: Non-existing date in RC with a length of 10

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-2-SMACC ') 
where
cast(
    concat(
        case when substr(PARTY_RC,1,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) < 54
        then '20'
        else '19'
        end,
        substr(PARTY_RC,1,2),'-',
        case when substr(PARTY_RC,3,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) > 50
        then cast(cast(substr(PARTY_RC,3,2) as signed) - 50 as char(2))
        else substr(PARTY_RC,3,2)
        end,
        '-',
        substr(PARTY_RC,5,2)
    )
    as char(10))
    not in (select cast(CAL_DATE as char(10)) from REF_CALENDAR)
    and PARTY_TYPE = 'P'
    and length(trim(PARTY_RC)) = 10
    ;

Rule 3: Inconsistent date from RC and DOFBIRTH

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-3-INCNS ') 
where
party_type = 'P'
and PARTY_RC REGEXP '[0-9]+'
and not
cast(
    concat(
        case when length(trim(PARTY_RC)) = 10 and trim(substr(PARTY_RC,1,2)) * 1 < 54
        then concat('20',trim(substr(PARTY_RC,1,2)))
        else concat('19',trim(substr(PARTY_RC,1,2)))
        end,
        trim(substr(PARTY_RC,3,2)),
        trim(substr(PARTY_RC,5,2))
    ) as char(10)
) = cast(PARTY_DOFBIRTH as char(10))
;

Rule 4: Missing RC

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-4-CMPLTN ') 
where
PARTY_TYPE = 'P'
and (PARTY_RC is null or PARTY_RC = '' or PARTY_RC = ' ')
;

Rule 5: Not-numeric RC

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-5-SMACC RC-5-SNACC ') 
where
PARTY_TYPE = 'P'
and not PARTY_RC REGEXP '[0-9]+'
;

Rule 6: Gender from RC not consistent with PARTY_GENDER

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-6-INCNS ') 
where
PARTY_TYPE = 'P'
and
(
(substr(PARTY_RC,3,2) - 1 > 50 and PARTY_GENDER not in ('F'))
 or
(substr(PARTY_RC,3,2) - 1 < 50 and PARTY_GENDER not in ('M'))
)
;

Rule 7: Age from RC not consistent with PARTY_AGE¶

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-7-INCNS ') 
where
PARTY_TYPE = 'P'
and
(PARTY_AGE - TIMESTAMPDIFF(YEAR, PARTY_DOFBIRTH, CURDATE())) <> 0
;

PARTY_CREGNUM

Rule 8: ICO Checksum failed

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1',substr(DQM_VALID_CODE,8,11)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CREGNUM-8-SMACC ') 
where
PARTY_TYPE = 'C' and
(
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11) = 0 and substr(PARTY_CREGNUM,8,1) <> 1
)
or
(
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11) = 1 and substr(PARTY_CREGNUM,8,1) <> 0
)
or
(
MOD(11 -
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11),10) <> substr(PARTY_CREGNUM,8,1)
);

In [ ]:
select PARTY_CREGNUM from PART_PARTY where DQM_ERR like '%%CREGNUM-8-SMACC%%' limit 0,10;

Rule 9: ICO Lookup failed

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1',substr(DQM_VALID_CODE,8,11)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CREGNUM-9-SMACC ') 
where
PARTY_TYPE = 'C' and
trim(PARTY_CREGNUM) not in (select trim(PARTY_CREGNUM)from REF_PARTY_CREGNUM);

PARTY_FNAME

Rule 10: PARTY_FNAME lookup failed

In [ ]:
alter table REF_FNAME add MCODE char(32);

In [ ]:
update REF_FNAME set MCODE = md5(upper(trim(VALUE)));

In [ ]:
alter table REF_FNAME add index(MCODE);

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,15)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'FNAME-10-SMACC ') 
where
PARTY_TYPE = 'P' and
md5(trim(upper(PARTY_FNAME))) not in (select MCODE from REF_FNAME);

In [ ]:
select PARTY_FNAME from PART_PARTY where DQM_ERR like '%%FNAME-10-SMACC%%' limit 0,10;

PARTY_SINCE

Rule 12: PARTY_SINCE inconsistent to contract

In [ ]:
update PART_PARTY as a
inner join (select PARTY_ID, min(cntr_validfrom) as min_valid_from from PROD_CONTRACT group by 1) as b
on (a.PARTY_ID = b.PARTY_ID)
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,17),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'SINCE-12-EXCNS ')
where not a.PARTY_SINCE = b.min_valid_from
;

In [47]:
-- viz nahore, na prednaskach jen do 12

PARTY_ADDRESS

ADDR_ZIP

Rule 13: Incorrect PSC syntax

In [ ]:
update PARTY_ADDRESS
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'ZIP-13-SNACC ') 
where not ADDR_ZIP regexp '^[0-9]{5}$' = 1
;

In [ ]:
select ADDR_ZIP from PARTY_ADDRESS where DQM_ERR like '%%ZIP-13-SNACC%%' limit 0,10;

PARTY_CONTACT

Rule 14: Incorrect Email syntax¶

In [ ]:
pdate PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-14-SNACC ') 
where CONT_TYPE = 'E' and not trim(CONT_VALUE) regexp '^[a-zA-Z0-9]{1}([\\.\\-]?[a-zA-Z0-9])*@[a-zA-Z0-9]{1}([\\.\\-]?[a-zA-Z0-9])*\\.[a-zA-Z]{2,6}$' = 1
;

Rule 15: Incorrect Mobile Prefix

In [ ]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-17-SMACC ') 
where CONT_TYPE = 'M'
and substr(CONT_VALUE,1,3) * 1 not between 601 and 608
and substr(CONT_VALUE,1,3) * 1 not in (702,703,705)
and substr(CONT_VALUE,1,3) * 1 not between 720 and 739
and substr(CONT_VALUE,1,3) * 1 not between 770 and 779
and substr(CONT_VALUE,1,3) * 1 not between 790 and 792
and substr(CONT_VALUE,1,3) * 1 not in (797,799)
;

Rule 16: Incorrect Mobile Length

In [ ]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-18-SMACC VALUE-18-SNACC ') 
where CONT_TYPE = 'M'
and length(replace(CONT_VALUE,' ','')) <> 9
;

PROD_CONTRACT

Rule 17: Invalid product code

In [ ]:
update PROD_CONTRACT as a
inner join (select PRODUCT_CODE, min(VALID_FROM) as min_valid_from, max(VALID_TO) as max_valid_to from PRODUCT_CATALOGUE group by 1) as b
on (a.PRODUCT_CODE = b.PRODUCT_CODE)
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,3)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CODE-19-SMACC ') 
where 
not a.CNTR_VALIDFROM between b.min_valid_from and b.max_valid_to
;

Rule 18: Valid From after Valid To

In [ ]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,3),'11',substr(DQM_VALID_CODE,6,2)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALIDFROM-20-INCNS VALIDTO-20-INCNS ') 
where CNTR_VALIDFROM > CNTR_VALIDTO
;

Rule 19: Terminated contract with no canceltype

In [ ]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,5),'1',substr(DQM_VALID_CODE,7,1)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CANCTYPE-21-CMPLT ') 
where
CNTR_CANCTYPE is null and CNTR_VALIDTO <= current_date;
;

In [ ]:
select CNTR_VALIDFROM, CNTR_VALIDTO, CNTR_CANCTYPE from PROD_CONTRACT where DQM_ERR like '%%CANCTYPE-21-CMPLT%%' limit 0,10;

Report

In [ ]:
select count(*) into @rowCnt from PART_PARTY;

In [ ]:
select 1 - (count(*) / @rowCnt) as 'Semantic Accuracy' from PART_PARTY where DQM_ERR like '%%RC-%%' adn DQM_ERR like '%%-SMACC%%';
update DQM_MDR
set
CHAR_SEM_ACC = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' adn DQM_ERR like '%%-SMACC%%'),
CHAR_SYN_ACC = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' adn DQM_ERR like '%%-SNACC%%'),
CHAR_COM = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' adn DQM_ERR like '%%-CMPLT%%'),
CHAR_INT_CON = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' adn DQM_ERR like '%%-INCNS%%'),
CHAR_EXT_CON = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' adn DQM_ERR like '%%-EXCNS%'),
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_RC';
​

In [ ]:
select * from DQM_MDR where TABLE_NAME = 'PART_PARTY';

In [48]:
-- prednasky/02 - Costs_Calculation_Python.ipynb

### Odhad roční výše nákladů na nekvalitní data a možné přínosy nápravných opatření

In [14]:
def query(sql):
    engine = create_engine('mysql+pymysql://'+user+':'+pwd+'@'+server+'/'+db)
    connection = engine.connect()
    result = connection.execute(sql)
    table = DataFrame(result.fetchall())
    table.columns = result.keys()
    connection.close()
    engine.dispose()
    return table

In [ ]:
C = query("select CHAR_SEM_ACC, CHAR_SYN_ACC, CHAR_COM, CHAR_INT_CON, CHAR_EXT_CON from DQM_MDR")
C.head()

In [ ]:
X=C.fillna(0)

In [ ]:
X['MIN_CHAR'] = X.min(axis=1)
X.head()

In [ ]:
U = query("select U01, U02, U03, U04, U05, U06, U07, U08, U09, U10 from DQM_MDR")
U.head()

In [ ]:
M = U.mul(X['MIN_CHAR'], axis=0)
M.head()

In [ ]:
A = M.mean(axis=0)
A

In [ ]:
SMS = 0.8
post = 15
x_sell_resp = 0.1
x_sell_resp_fup = 0.2
ann_premium = 10000
up_sell_resp = 0.3
up_sell_resp_fup = 0.5
single_premium = 100000
ret_resp = 0.5
ret_ann_premium = 10000
daily_rate = 6000
MD = 5 * 80
n = 0.1 * 383131

In [ ]:
C1 = 0

In [ ]:
C2 = ((n * ann_premium) * x_sell_resp_fup) - ((n * ann_premium) * (x_sell_resp + (x_sell_resp_fup - x_sell_resp) * A[0]))
C2

In [ ]:
C3 = 0

In [ ]:
C4 = 0

In [ ]:
PC = MD * daily_rate
PC

In [ ]:
TNQC = C1 + C2 + C3 + C4
TNQC

In [13]:
ROI = (TNQC - PC) / PC
ROI

### Priorotizace nápravných opatření

V rámci prioritizace, doporučujeme firmě volit přístup impact x effort, přičemž priritizujeme ty nápravná opatření, který mají co největší impact, pro které je nutné v rámci společnosti vyvinout nejmenší úsilí, zaroveň s nima doporučujeme prioritizovat ty nápravná opatření, která jsou kritická z hlediska fungování firmy, přičemž kladem důraz na výsledky z matice užití, kde prioritizovat budeme ty atributy, na který máme vysoké náklady a zároveň gap mezi očekávanou a reálnou hodnotou sledované metriky konzistentnosti , úplnosti a unikátnosti bude největší.

### Návrh externích datových zdrojů pro obohacení dat

Centrální evidence exekucí
https://www.dluznickyregistr.cz

Správa základních registrů www.szrcr.cz

Průzkumy a šetření

Sociální sítě

Konkurenční zpravodajství

Referenční registry

Marketingové průzkumy

Justice.cz

Číselníky ČNB pro platební systémy, devizové kurzy..

In [49]:
-- prednasky/02 - Download Reference Data.ipynb

In [ ]:
ros_url = 'https://opendata.czso.cz/data/od_org03/res_data.csv'
ros_schema_url = 'https://opendata.czso.cz/data/od_org03/res_data-metadata.json'
ros_pravni_formy_url = 'https://opendata.czso.cz/data/od_org03/res_pf_nace.csv'
ros_pravni_formy_schema_url = 'https://opendata.czso.cz/data/od_org03/res_pf_nace-metadata.json'

In [ ]:
import requests

In [ ]:
def download(url,output):
    r = requests.get(url)
    with open(output,'wb') as f:
        f.write(r.content)

In [ ]:
download(ros_url,'ROS.csv')
download(ros_schema_url,'ROS.json')
download(ros_pravni_formy_url,'PFORM.csv')
download(ros_pravni_formy_schema_url,'PFORM.json')

In [ ]:
%%html
<style>
    table {
        display: inline-block
    }
</style>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('ROS.csv', nrows=10)
df

In [ ]:
import json

In [ ]:
with open('ROS.json') as f:
    data = json.load(f)

In [ ]:
for i in data['tableSchema']['columns']:
    print(i)

In [ ]:
df = pd.read_csv('PFORM.csv', nrows=10)
df

### Strategie pro obohacení hodnot

Obohacování chybějících hodnot bychom tam kde by to šlo, doporučili doplnit informaci, myslí me tim ty hodnoty které je možné odhadnout například datum narození z rodného čísla, tak aby nám zbytečně něchyběla informace, kde jsme schopný ji poměrně slušně doplnit z již existujících dat. V případě chybějících hodnot které jednoznačně identifikují záznam a nejsme bez něj schopni jednoznačně identifikovat například zákazníka v prvním kroku volíme dohledání v rámci databázových technik, například dohledání RČ zákazníka ze sekundárních zdrojů pomocí některého z JOINU, v případě neúspěchu těchto technik, pak volíme ignorování či vynechání záznamu. V případě že se jedná o některou z metrik doporučujeme její odhad, v nekritických případech tam kde to jde doporučujeme využít metodu nahrazení střední hodnotou, v případech kdy jednoznačně klademe důraz na správnou klasifikaci, doporučujeme využít některou z metod například Rough Sets nebo DCI(Dynamic Clustering Imputation).

In [50]:
-- prednasky/W7_MySQL_Standardization.ipynb

## Standardizace hodnot vybraných atributů

In [ ]:
mysql://student:student@localhost:3306;

In [ ]:
use 4iz562;

In [ ]:
select ADDR_CITY, count(*) from PARTY_ADDRESS where upper(ADDR_CITY) like '%%BRAND%%' group by 1;

In [ ]:
select ulice, count(*) from REF_UIRADR_MERGED 
where ulice like 'n.%' or lower(ulice) like 'nám.%' or lower(ulice) like 'náměstí%'
group by 1 order by 2 desc limit 0,10;

In [ ]:
select PARTY_FNAME, count(*) from PART_PARTY where strip(lower(PARTY_FNAME)) like '%%david%%' group by 1;

In [ ]:
select PARTY_NAME, count(*) from PART_PARTY where lower(PARTY_NAME) like '%%ing.%%' group by 1 order by 2 desc limit 0,10;

In [ ]:
CREATE FUNCTION `4iz562`.`strip`(
    v_chars TEXT
) RETURNS text CHARSET utf8mb4
    NO SQL
    SQL SECURITY INVOKER
BEGIN
    DECLARE v_retval TEXT DEFAULT '';
   
    SET v_retval = replace(v_chars,' ','');
    RETURN v_retval;
END;

In [ ]:
select strip('D A V I D') as t1;

In [ ]:
 select REGEXP_REPLACE('/*4588/*-ga+!sdf"','[^a-zA-Z0-9]','') as t1;

In [ ]:
CREATE FUNCTION `4iz562`.`replaceDiacritics`(
    v_chars TEXT
) RETURNS text CHARSET utf8mb4
    NO SQL
    SQL SECURITY INVOKER
BEGIN
    DECLARE v_retval TEXT DEFAULT '';
   
    SET v_retval = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
	trim(v_chars)
	, "Ě", "E")
	, "Š", "S")
	, "Č", "C")
	, "Ř", "R")
	, "Ž", "Z")
	, "Ý", "Z")
	, "Á", "A")
	, "Í", "I")
	, "É", "E")
	, "Ů", "U")
	, "Ú", "U")
	, "Ó", "O")
	, "Ť", "T")
	, "Ň", "N")
	, "Ď", "D")
	, "ě", "e")
	, "š", "s")
	, "č", "c")
	, "ř", "r")
	, "ž", "z")
	, "ý", "y")
	, "á", "a")
	, "í", "i")
	, "é", "e")
	, "ů", "u")
	, "ú", "u")
	, "ó", "o")
	, "ť", "t")
	, "ň", "n")
	, "ď", "d")
	;
    RETURN v_retval;
END;

In [ ]:
select replaceDiacritics('Jasoň Psojič Voňavka') as t1;

In [ ]:
CREATE FUNCTION `4iz562`.`proper`(
    v_chars TEXT
) RETURNS text CHARSET utf8mb4
    NO SQL
    SQL SECURITY INVOKER
BEGIN
    DECLARE v_retval TEXT DEFAULT '';
    DECLARE u_token  TEXT DEFAULT '';
    DECLARE u_buffer TEXT DEFAULT '';
    DECLARE u        INT UNSIGNED;
    DECLARE i        INT UNSIGNED;
   

    SET u =  1 + LENGTH(v_chars) - LENGTH(replace(v_chars,' ',''));
    SET i = 1;
   
   SET v_chars = lower(v_chars);
   
    WHILE i <= u
    DO
      SET u_token = substring_index(substring_index(v_chars, ' ', i), ' ', -1);
      SET u_buffer = v_retval;
      SET v_retval = CONCAT(u_buffer, ' ', upper(substr(u_token,1,1)), substr(u_token,2));
      SET i = i + 1;
    END WHILE;

    RETURN v_retval;
END;

In [ ]:
select proper('DAVID PEJCOCH') as t1;

In [ ]:
alter table PART_PARTY 
add PARTY_RC_STD varchar(10),
add PARTY_FNAME_STD varchar(45),
add PARTY_MNAME_STD varchar(45),
add PARTY_LNAME_STD varchar(45),
add PARTY_TITBEF_STD varchar(10),
add PARTY_TITAFT_STD varchar(10)
;

In [ ]:
alter table PARTY_ADDRESS
add ADDR_CODE bigint,
add ADDR_FMCODE char(32),
add ADDR_ZIP_STD integer
;

In [ ]:
alter table REF_UIRADR_MERGED
add MCODE_FUZZY char(32)
;

In [ ]:
update PART_PARTY set PARTY_RC_STD = strip(PARTY_RC) where strip(PARTY_RC) regexp '[0-9]{9,10}' = 1;

In [ ]:
select PARTY_RC_STD from PART_PARTY where PARTY_RC_STD is not null limit 0,10;

In [ ]:
update PART_PARTY as a
inner join REF_TITBEF as b
on(strip(replace(lower(a.PARTY_TITBEF),'.','')) = strip(replace(lower(b.VALUE),'.','')))
set a.PARTY_TITBEF_STD = b.VALUE;

In [ ]:
select PARTY_TITBEF, PARTY_TITBEF_STD from PART_PARTY where PARTY_TITBEF_STD is not null and not PARTY_TITBEF = PARTY_TITBEF_STD limit 0,10;

In [ ]:
update PART_PARTY as a
inner join REF_TITAFT as b
on(strip(replace(lower(a.PARTY_TITAFT),'.','')) = strip(replace(lower(b.VALUE),'.','')))
set a.PARTY_TITAFT_STD = b.VALUE;

In [ ]:
select PARTY_TITAFT, PARTY_TITAFT_STD from PART_PARTY where PARTY_TITAFT_STD is not null and not PARTY_TITAFT = PARTY_TITAFT_STD limit 0,10;

In [ ]:
update PART_PARTY set PARTY_FNAME_STD = proper(split(PARTY_FNAME,' ',1)) where PARTY_TYPE = 'P' and length(split(PARTY_FNAME,' ',1)) > 1;

In [ ]:
update PART_PARTY set PARTY_MNAME_STD = proper(split(PARTY_FNAME,' ',2)) where PARTY_TYPE = 'P' and length(split(PARTY_FNAME,' ',2)) > 1 and not proper(split(PARTY_FNAME,' ',2)) = PARTY_FNAME_STD;

In [ ]:
select PARTY_FNAME, PARTY_FNAME_STD, PARTY_MNAME_STD from PART_PARTY where PARTY_TYPE = 'P' and not PARTY_MNAME_STD = '' limit 0,10;

In [ ]:
update PART_PARTY set PARTY_LNAME_STD = proper(PARTY_LNAME) where PARTY_TYPE = 'P';

In [ ]:
select PARTY_FNAME, PARTY_LNAME, PARTY_FNAME_STD, PARTY_MNAME_STD, PARTY_LNAME_STD from PART_PARTY where PARTY_TYPE = 'P' and not PARTY_MNAME_STD = '' limit 0,10;

In [ ]:
update PARTY_ADDRESS set ADDR_ZIP_STD = cast(ADDR_ZIP as signed) where ADDR_ZIP regexp '[0-9]{5}' = 1;

In [ ]:
select ADDR_ZIP_STD from PARTY_ADDRESS where ADDR_ZIP_STD is not null limit 0,10;

In [ ]:
update PARTY_ADDRESS as a
inner join (select distinct psc, strip(concat(lower(substr(coalesce(obec,cobce),1,3)),'_',substr(cast(psc as char(5)),1,4))) as mcode from REF_UIRADR_MERGED) as b
on (
    strip(concat(lower(substr(coalesce(a.ADDR_CITY,'NA'),1,3)),'_',strip(coalesce(ADDR_ZIP,'NA')))) = b.mcode 
    and a.ADDR_ZIP regexp '[0-9]{5}' = 0 
    and b.mcode is not null 
    and a.ADDR_ZIP_STD is null)
set a.ADDR_ZIP_STD = b.psc
;

In [ ]:
select count(*) from PARTY_ADDRESS where ADDR_ZIP_STD is not null;

In [ ]:
select count(*) from PARTY_ADDRESS;

In [ ]:
update REF_UIRADR_MERGED set MCODE_FUZZY = md5(
replaceDiacritics(
strip(
lower(
concat(
coalesce(psc,''),'_',
coalesce(trim(ulice),''),
coalesce(cisdom_hod,''),
case when cisor_hod is not null and not trim(cisor_hod) = '' then concat('/',coalesce(cisor_hod,'')) else '' end,
case when cisor_pis is not null and not trim(cisor_pis) = '' then concat('',coalesce(cisor_pis,'')) else '' end,
'_',
coalesce(trim(obec),''),
case 
when mcast is not null then
	case when not trim(obec) = '' then concat(' - ',trim(mcast)) else trim(mcast) end
when cobce is not null then
	case when not trim(obec) = '' then concat(' - ',trim(cobce)) else trim(cobce) end
else ''
end
))))) where 1 = 1;

In [ ]:
update PARTY_ADDRESS set ADDR_FMCODE = md5 (
replaceDiacritics(
strip(
lower(
concat(
coalesce(ADDR_ZIP_STD,''),'_',
coalesce(trim(ADDR_STREET),''),'_',
coalesce(trim(ADDR_CITY),'')
))))
    ) where 1 = 1;

In [ ]:
CREATE INDEX PARTY_ADDRESS_ADDR_FMCODE_IDX USING BTREE ON `4iz562`.PARTY_ADDRESS (ADDR_FMCODE);

In [ ]:
CREATE INDEX REF_UIRADR_MERGED_MCODE_FUZZY_IDX USING BTREE ON `4iz562`.REF_UIRADR_MERGED (MCODE_FUZZY);

In [ ]:
update PARTY_ADDRESS as a
inner join REF_UIRADR_MERGED as b
on (b.MCODE_FUZZY = a.ADDR_FMCODE)
set a.ADDR_CODE = b.adresa_kod
where 1 = 1;

In [ ]:
ALTER TABLE `4iz562`.REF_UIRADR_MERGED MODIFY COLUMN MCODE_FUZZY char(32) CHARACTER SET utf8 COLLATE utf8_general_ci NULL;

In [ ]:
update PARTY_ADDRESS as a
inner join REF_UIRADR_MERGED as b
on (b.MCODE_FUZZY = a.ADDR_FMCODE)
set a.ADDR_CODE = b.adresa_kod
where 1 = 1;

In [ ]:
select count(*) / (select count(*) from PARTY_ADDRESS) as matched from PARTY_ADDRESS where ADDR_CODE is not null;

In [ ]:
select replaceDiacritics(
strip(
lower(
concat(
coalesce(ADDR_ZIP_STD,''),'_',
coalesce(trim(ADDR_STREET),''),'_',
coalesce(trim(ADDR_CITY),'')
)))) as mcode from PARTY_ADDRESS where ADDR_ID = 515;

In [ ]:
select replaceDiacritics(
strip(
lower(
concat(
coalesce(psc,''),'_',
coalesce(trim(ulice),''),
coalesce(cisdom_hod,''),
case when cisor_hod is not null and not trim(cisor_hod) = '' then concat('/',coalesce(cisor_hod,'')) else '' end,
case when cisor_pis is not null and not trim(cisor_pis) = '' then concat('',coalesce(cisor_pis,'')) else '' end,
'_',
coalesce(trim(obec),''),
case 
when mcast is not null then
	case when not trim(obec) = '' then concat(' - ',trim(mcast)) else trim(mcast) end
when cobce is not null then
	case when not trim(obec) = '' then concat(' - ',trim(cobce)) else trim(cobce) end
else ''
end
)))) as mcode from REF_UIRADR_MERGED where psc = 59442 and ulice like '%%Pod dálnicí%%' limit 0,10;

In [ ]:
update REF_UIRADR_MERGED set MCODE_FUZZY = md5(
replaceDiacritics(
strip(
lower(
concat(
coalesce(psc,''),'_',
coalesce(trim(ulice),''),
coalesce(cisdom_hod,''),
case when cisor_hod is not null and not trim(cisor_hod) = '' then concat('/',coalesce(cisor_hod,'')) else '' end,
case when cisor_pis is not null and not trim(cisor_pis) = '' then concat('',coalesce(cisor_pis,'')) else '' end,
'_',
coalesce(trim(obec),''),
case 
when mcast is not null then
	case when not trim(obec) = '' then concat(' - ',trim(mcast)) else trim(mcast) end
when cobce is not null and not trim(obec) = trim(cobce) then
	case when not trim(obec) = '' then concat(' - ',trim(cobce)) else trim(cobce) end
else ''
end
))))) where 1 = 1;

In [ ]:
select replaceDiacritics(
strip(
lower(
concat(
coalesce(psc,''),'_',
coalesce(trim(ulice),''),
coalesce(cisdom_hod,''),
case when cisor_hod is not null and not trim(cisor_hod) = '' then concat('/',coalesce(cisor_hod,'')) else '' end,
case when cisor_pis is not null and not trim(cisor_pis) = '' then concat('',coalesce(cisor_pis,'')) else '' end,
'_',
coalesce(trim(obec),''),
case 
when mcast is not null then
	case when not trim(obec) = '' then concat(' - ',trim(mcast)) else trim(mcast) end
when cobce is not null and not trim(obec) = trim(cobce) then
	case when not trim(obec) = '' then concat(' - ',trim(cobce)) else trim(cobce) end
else ''
end
)))) as mcode from REF_UIRADR_MERGED where psc = 59442 and ulice like '%%Pod dálnicí%%' limit 0,10;

In [ ]:
update PARTY_ADDRESS as a
inner join REF_UIRADR_MERGED as b
on (b.MCODE_FUZZY = a.ADDR_FMCODE)
set a.ADDR_CODE = b.adresa_kod
where 1 = 1;

In [ ]:
select count(*) / (select count(*) from PARTY_ADDRESS) as matched from PARTY_ADDRESS where ADDR_CODE is not null;

In [ ]:
update PARTY_ADDRESS
set TMP_ADDR_STREET_STR_1 =
case 
when trim(TMP_ADDR_STREET_STR_1) = 'NAM' then 'NÁMĚSTÍ'
when trim(TMP_ADDR_STREET_STR_1) = 'NÁM.' then 'NÁMĚSTÍ'
when trim(TMP_ADDR_STREET_STR_1) = 'SÍDL.' then 'SÍDLIŠTĚ'
when trim(TMP_ADDR_STREET_STR_1) = 'BŘÍ.' then 'BRATŘÍ'
when trim(TMP_ADDR_STREET_STR_1) = 'GEN.' then 'GENERÁLA.'
when trim(TMP_ADDR_STREET_STR_1) = 'NÁB.' then 'NÁBŘEŽÍ'
when trim(TMP_ADDR_STREET_STR_1) = 'AK.' then 'AKADEMIKA'
when trim(TMP_ADDR_STREET_STR_1) = 'AKAD.' then 'AKADEMIKA'
when trim(TMP_ADDR_STREET_STR_1) = 'ANT' then 'ANTONÍNA'
when trim(TMP_ADDR_STREET_STR_1) = 'ANT.' then 'ANTONÍNA'
when trim(TMP_ADDR_STREET_STR_1) = 'BEDŘ.' then 'BEDŘICHA'
when trim(TMP_ADDR_STREET_STR_1) = 'BOŽ.' then 'BOŽENY'
when trim(TMP_ADDR_STREET_STR_1) = 'KPT.' then 'KAPITÁNA'
when trim(TMP_ADDR_STREET_STR_1) = 'FR.' then 'FRANTIŠKA'
when trim(TMP_ADDR_STREET_STR_1) = 'BOH.' then 'BOHUSLAVA'
when trim(TMP_ADDR_STREET_STR_1) = 'UL.' then 'ULICE'
else trim(TMP_ADDR_STREET_STR_1)
end
;

In [ ]:
update PARTY_ADDRESS_

set TMP_ADDR_CITY =
case 
when trim(ADDR_CITY) = 'BRANDÝS N L' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDÝS N L ST BOLESLAV' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDÝS N LABEM' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDÝS N.L.-ST. BOLESLAV' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'Brandýs n.L.-St.Bolesl.' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'Brandýs n.Labem-St.Bol.' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'Brandýs n/Labem-Stará Bol' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDÝS NAD LABEM' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'Brandýs nad Labem-Stará B' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'Brandýs nad Labem-Stará Boleslav' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDÝS NAD LABEMSTARÁ B' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDŽS NAD LABEM' then 'Brandýs n. Labem - St. Bol.'
else trim(ADDR_CITY)
end
;

In [51]:
-- prednasky/W8_MySQL_Imputation.ipynb

##Doplnění chybějících hodnot podle navržené strategie, Unifikace a deduplikace klientů

In [ ]:
select count(*) from PART_PARTY where PARTY_DOFBIRTH is null and PARTY_TYPE ='P';

In [ ]:
ALTER TABLE `4iz562`.PART_PARTY ADD PARTY_DOFBIRTH_STD DATE NULL;

In [ ]:
update PART_PARTY set PARTY_DOFBIRTH_STD = PARTY_DOFBIRTH where PARTY_TYPE = 'P' and DQM_ERR not like '%%RC-3-INCNS%%';

In [ ]:
select (select count(*) from PART_PARTY where PARTY_TYPE = 'P' and PARTY_DOFBIRTH_STD is not null) /  count(*) from PART_PARTY where PARTY_TYPE = 'P';

In [ ]:
update PART_PARTY
set PARTY_DOFBIRTH_STD =
 str_to_date(
 concat(   
 case when length(trim(PARTY_RC)) = 10 and trim(substr(PARTY_RC,1,2)) * 1 < 54
 then concat('20',trim(substr(PARTY_RC,1,2)))
 else concat('19',trim(substr(PARTY_RC,1,2)))
 end, '-',
 case when cast(trim(substr(PARTY_RC,3,2)) as signed) > 12 then cast(cast(trim(substr(PARTY_RC,3,2)) as signed) - 50 as char(2)) else trim(substr(PARTY_RC,3,2)) end, '-',
 trim(substr(PARTY_RC,5,2))
 )
 , '%%Y-%%m-%%d')
 where
 party_type = 'P'
 and PARTY_RC REGEXP '[0-9]+'
 and PARTY_DOFBIRTH_STD is null
 and DQM_ERR not like '%%RC-2-SMACC%%'
 and DQM_ERR not like '%%RC-1-SMACC%%' 
;

In [ ]:
select (select count(*) from PART_PARTY where PARTY_TYPE = 'P' and PARTY_DOFBIRTH_STD is not null) /  count(*) from PART_PARTY where PARTY_TYPE = 'P';

In [ ]:
update PART_PARTY
set PARTY_DOFBIRTH_STD = PARTY_DOFBIRTH
where PARTY_DOFBIRTH_STD is null
and str_to_date(cast(PARTY_DOFBIRTH as char(10)), '%%Y-%%m-%%d') is not null
;

In [ ]:
select (select count(*) from PART_PARTY where PARTY_TYPE = 'P' and PARTY_DOFBIRTH_STD is not null) /  count(*) from PART_PARTY where PARTY_TYPE = 'P';

LOOKUP/MERGE/JOIN

In [ ]:
update t1
inner join t2
(on t1.a1 = t2.a1)
set t1.a2 = t2.a2
where t1.a2 is null or t1.a2 = ''
;


Fuzzy Join

In [ ]:
select a.PARTY_NAME, a.PARTY_CREGNUM, soundex(a.PARTY_NAME), b.FIRMA, b.ICO
from PART_PARTY as a
inner join REF_RES as b
on (soundex(a.PARTY_NAME) = soundex(b.FIRMA))
where a.PARTY_TYPE = 'C' limit 0,10;

In [ ]:
select a.PARTY_NAME, a.PARTY_CREGNUM, STRCMP(a.PARTY_NAME, b.FIRMA), b.FIRMA, b.ICO
from PART_PARTY as a
inner join REF_RES as b
on (ABS(STRCMP(a.PARTY_NAME, b.FIRMA)) < 2 )
where a.PARTY_TYPE = 'C' limit 0,10;


What works in SAS PROC SQL

In [ ]:
proc sql;
select t1.*, t2.*
from t1, t2
where t1.a =* t2.a
;
quit;

In [ ]:
proc sql;
select t1.*, t2.*
from t1, t2
where
spedis(t1.a,t2.a) < 10
;
quit;

Simple Imputation

In [ ]:
select 
AVG(PARTY_AGE) as mean, 
(floor(18 + RAND() * 80)) as random, 
(MAX(PARTY_AGE) - MIN(PARTY_AGE)) / 2 as midrange
from PART_PARTY
where PARTY_TYPE = 'P'
and PARTY_AGE is not null;

In [ ]:
select (floor(18 + RAND() * 80)) as random
from PART_PARTY
where PARTY_TYPE = 'P' limit 0,10
;